//about
section.about(id="about")
  .container
    h2(class="section-title section-title--dark")
      |Mon profil
    .about__text
      p
        |Création de pages HTML/CSS/JS(jQuery) à partir de maquettes graphiques faites dans Adobe Illustrator, Adobe Photoshop, Sketch (inVision). Responsive design s’adaptant à tous les types d’appareils (media queries). Utilisation du framework Bootstrap. Développement cross-browser et semantique en respectant les standards du Web (W3C) et en utilisant la méthodologie BEM (Block, Element, Modifier). Création d’e-mails adaptatifs. Pixelperfect. Intégration de différentes API et de plug-ins. Utilisation des animations web (parallaxes, keyframes, anim SVG). Utilisation  des technologies avancées en front (préprocesseur CSS LESS, préprocesseur HTML PUG, npm, vanilla js, jQuery, jQuery-ui), automatisation de tâches (gulp, grunt), versionning (git). Gestion des projets à l’aide de l’approche agile. Réalisation de sites avec WordPress : installation et paramétrage, personnalisation des thèmes (styles, modèles, fonctions) à partir de child themes, installation et paramétrage des plug-ins. 
      p
        |Mon expérience inclut égalementla mise en page technique et le design de livres, de brochures, de revues, etc. Vous pouvez consulter mon portfolio en téléchargeant le <a target="blank" href="https://jakovich.github.io/docs/portfolio_Nadege_Pillard.pdf">pdf interactif</a>. 
      img(src="img/profil.jpg") 
