//contacts
section.contacts(id="contacts")
  .container
    <iframe height="600" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://npillard.wufoo.com/embed/ztje8301lx93bl/"><a href="https://npillard.wufoo.com/forms/ztje8301lx93bl/">Fill out my Wufoo form!</a></iframe>
