section.feedback(id="feedback")
  .container
    h2.section-title
      |Témoignage de clients
    div(id="carousel-feedback" class="carousel slide" data-ride="carousel") 
      ol.carousel-indicators
        li(data-target="#carousel-feedback" data-slide-to="0" class="active")
        li(data-target="#carousel-feedback" data-slide-to="1")
        li(data-target="#carousel-feedback" data-slide-to="2")
        li(data-target="#carousel-feedback" data-slide-to="3")

      div(class="carousel-inner" role="listbox")
        div(class="item active")
          div.carousel-inner__text
            p
              |« Nadège réalise son travail avec un vrai professionnalisme. Notre jeune mais ambitieux projet carmart.ru a besoin de professionnels aussi méticuleux, et surtout, d’une approche adaptative. Nadège a su rapidement prendre en compte les exigences et contraintes de notre cahier des charges. Elle a mis en application les normes bootstrap lors de l’intégration de la mise à jour de la partie du site consacrée à la Réalisation d’une commande. Je tiens à souligner tout particulièrement sa méticulosité, le soin qu’elle a mis à traiter les commentaires qui lui ont été soumis ainsi que ses capacités à réaliser ses missions dans les délais impartis. »
            p.carousel-inner__caption
              |<a target="_blank" href="https://carmart.ru/">Carmart.ru</a>, Saint-Pétersbourg

        div(class="item")
          .carousel-inner__text
            p
              |Elle a réalisé un travail rapide et de bonne qualité, toutes les modifications ont été apportées dans les délais. Notre collaboration a été très agréable, aucune plainte n’a été à déplorer.
            p.carousel-inner__caption
              | <a target="_blank" href="https://www.tvoemenu.com/">Ton menu</a>, ville d’Orel
              
        div(class="item")
          .carousel-inner__text
            p
              |Nous travaillons avec Nadège depuis six mois et au cours de cette période, nous avons plusieurs fois constaté que l'approche de Nadège correspond aux standards les plus élevés, non seulement en ce qui concerne l’intégration et la création de pages, mais aussi pour son approche clients, son désir de les aider à résoudre leurs problèmes. Nous avons commencé notre collaboration avec des projets assez simples, puis, ensemble, nous avons développé un portail de taille significative. Nous pouvons recommander Nadège en tant que professionnelle expérimentée.
            p.carousel-inner__caption
              <i>Agence de business</i>, Moscou
        
        div(class="item")
          .carousel-inner__text
            p
              |Travail de très haute qualité, j’ai énormément apprécié que Nadège soit très attentive aux détails, qu’elle ait un bon œil. Elle n’a jamais eu de réactions insensées du type. Tous les changements étaient réalisés de manière rapide, précise et exhaustive. pratiquement rien est oublié. Un grand plus que finir les éléments qui ont été oubliés dans la hâte, sans DTP de principe « dans la mise en page ne sont pas, je ne le ferai pas ... ».
            p.carousel-inner__caption
              | <i>Maksimoum</i>, Saint-Pétersbourg
      a(class="left carousel-control" href="#carousel-feedback" role="button" data-slide="prev")
        span(class="glyphicon glyphicon-menu-left" aria-hidden="true")
        span(class="sr-only") Previous
      a(class="right carousel-control" href="#carousel-feedback" role="button" data-slide="next")
        span(class="glyphicon glyphicon-menu-right" aria-hidden="true")
        span(class="sr-only") Next
