nav(class="navbar navbar-default")
  div(class="container")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only") Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //a(class="navbar-brand" href="#") Brand
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav navbar-right")
        li
          a(href="#") Mon profil
        li
          a(href="#") Examples des projets
        li
          a(href="#") Témoignage de clients
        li
          a(href="#") Contactez-moi
          
