footer.main-footer
  .container
    .row
      div.col-md-6
        ul.main-footer__contacts 
          li
            a(class="main-footer__link" href="mailto:nadege.pillard@gmail.com")
              span(class="glyphicon glyphicon-envelope" aria-hidden="true") 
              | nadege.pillard@gmail.com
          li
            a(class="main-footer__link" href="#")
              span(class="glyphicon glyphicon-earphone" aria-hidden="true") 
              | 06 17 08 79 21
