//projects
section.projects(id="projects")
  .container
    h1(class="section-title section-title--dark section-title--big")
      |Exémples des projets
    .projects__item
      .row
        .col-md-5
          .projects__img
            img(src="img/piter.jpg" alt="Piter excursions")
        .col-md-7
          h2.projects__name
            | Site d'organisation d'excursions à <br>Saint-Pétersbourg 
          p.projects__date
            | 2017
          p.project__descr
            | Création de pages HTML/CSS/JS à partir de maquettes graphiques faites dans Adobe Illustrator (7 pages). Conception et réalisation d'un design responsive s'adaptant à tous les types d'appareils. Développement cross-browser des pages en respectant les standards du Web (W3C). Pixelperfect. Intégration API Yandex.Map.
          h3
            |Technologies utilisées
          ul.project__list
            li Pug, Less, Gulp
            li Full Responsive Design (CSS3 Media Queries, Flexbox)
            li API Yandex.Map
            li GIT
            li BEM (Block Element Modificator)
            li JS/jQuery (jQuery-ui)
            li SVG
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/Piter-excursions/" target="_blank")
              |Voir les pages
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/Piter-excursions" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")
    .projects__item
      .row
        div(class="col-md-5 col-sm-push-7")
          .projects__img
            img(src="img/partajon.jpg" alt="Partajon Delf Dalf")
        div(class="col-md-7 col-sm-pull-5")
          h2.projects__name
            | Site de préparation aux examens de Français Langue Etrangère "Partajon" 
          p.projects__date
            | 2017
          p.project__descr
            | Cycle complet de création et d'administration d'un site de type blog. Domaine et hosting, installation et paramétrage de Wordpress, sélection d'un thème,  personnalisation du thème conformément aux exigences du client (child Themes, html/css/php), travail avec les champs personnalisés et les fonctions, ajout des fenêtres modales, création des pages statiques (12) et élaboration des modèles d'articles, installation et paramétrage des plugins, optimisation du site et sécurité (Yoast Seo, W3 Total Cash, Contact Form 7, All In One WP Security, SendinBlue Subscribe etc.). SEO, travail avec google analytics et google webmaster. Formation du client à l'utilisation et à l'administration du site. Gestion du projet à l'aide de l'approche agile (outil trello). 
          h3
            |Technologies utilisées
          ul.project__list
            li Wordpress
            li PHP
            li HTML5
            li CSS3
            li JS/jQuery
          div(class="projects__btns")
            a.projects__btn(href="http://partajondelfdalf.com" target="_blank")
              |Voir le site
              i(class="glyphicon glyphicon-menu-right")
    .projects__item
      .row
        div(class="col-md-5")
          .projects__img
            img(src="img/carmart.jpg" alt="Carmarket checkout")
        div(class="col-md-7")
          h2.projects__name
            | Partie du site de vente d'automobile "Carmart". 
          p.projects__date
            | 2017
          p.project__descr
            | Création de pages du processus d'achat HTML/CSS/JS à partir de maquettes graphiques faites dans Adobe Illustrator (5 étapes) en utilisant Bootstrap. Responsive design (800px-1260px). Développement cross-browser des pages en respectant les standards du Web (W3C). Pixelperfect. Réalisation du front-end JS, création de SVG sprites, intégration de différents plug-ins. Collaboration avec les designers et les intégrateurs web. 
          h3
            |Technologies utilisées
          ul.project__list
            li HTML5
            li LESS, Gulp
            li JS/jQuery
            li GIT
            li BEM
            li Bootstrap
            li SVG
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/Carmart-checkout/" target="_blank")
              |Voir les pages
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/Carmart-checkout" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")
    .projects__item
      .row
        div(class="col-md-5 col-md-push-7")
          .projects__img
            img(src="img/web-vente.jpg" alt="Web vente")
        div(class="col-md-7 col-md-pull-5")
          h2.projects__name
            | Site d'une agence de vente d'entreprises
          p.projects__date
            | 2017
          p.project__descr
            | Création de pages HTML/CSS/JS à partir de maquettes graphiques faites dans Adobe Photoshop : 7 pages uniques. Conception et réalisation d'un design responsive (CSS3 Media Queries) et compatible avec IE8. Développement cross-browser des pages en respectant les standards du Web (W3C). Pixelperfect. Réalisation du front-end JS (y compris un calculateur de prix), images sprites, validation avancée des formulaires, intégration de différents plug-ins. Collaboration avec les designers et les intégrateurs web.
          h3
            |Technologies utilisées
          ul.project__list
            li HTML5
            li LESS
            li GULP
            li GIT
            li Full Responsive Design (CSS3 Media Queries)
            li BEM
            li JS/jQuery
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/web-vente/" target="_blank")
              |Voir les pages
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/web-vente" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")      
    .projects__item
      .row
        div(class="col-md-5")
          .projects__img
            img(src="img/park.jpg" alt="Park")
        div(class="col-md-7")
          h2.projects__name
            | Site d'un parc national
          p.projects__date
            | 2017
          p.project__descr
            | Création de pages HTML/CSS/JS à partir de maquettes graphiques faites dans Sketch (inVision) : 3 pages uniques. Développement cross-browser des pages en respectant les standards du Web (W3C). Pixelperfect. Réalisation du front-end JS, svg sprites.
          h3
            |Technologies utilisées
          ul.project__list
            li PUG, LESS
            li GULP
            li JS/jQuery
            li SVG
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/Park/" target="_blank")
              |Voir les pages
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/Park" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")
    .projects__item
      .row
        div(class="col-md-5 col-md-push-7")
          .projects__img
            img(src="img/email.jpg" alt="Email adaptive")
        div(class="col-md-7 col-md-pull-5")
          h2.projects__name
            | Responsive e-mails
          p.projects__date
            | 2016
          p.project__descr
            | Création d’e-mails adaptatifs à partir de maquettes graphiques faites dans Adobe Photoshop et compatibles avec tous les clients de messagerie sur tout appareil. Réalisation des tests.  
          h3
            |Technologies utilisées
          ul.project__list
            li HTML5
            li CSS3
            li GIT
            li Full Responsive Design ("fluid layout" (squelette fluide), Media Queries)
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/email/" target="_blank")
              |Voir les e-mails
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/Carmart-email-11.02.16-order-saved" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")
    .projects__item
      .row
        div(class="col-md-5")
          .projects__img
            img(src="img/your-menu.jpg" alt="Your Menu")
        div(class="col-md-7")
          h2.projects__name
            | Site d'e-commerce de livraison de repas "Ton menu"
          p.projects__date
            | 2016
          p.project__descr
            | Création de pages HTML/CSS/JS du site d'e-commerce à partir de maquettes graphiques faites dans Adobe Photoshop : 18 pages uniques. Développement cross-browser des pages en respectant les standards du Web (W3C). Pixelperfect. Réalisation du front-end JS, intégration de différents plug-ins.
          h3
            |Technologies utilisées
          ul.project__list
            li HTML5
            li LESS
            li GRUNT
            li JS/jQuery
            li GIT
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/your_menu/" target="_blank")
              |Voir les pages
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/your_menu" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")

    button(class="projects__btn projects__btn--show" data-value="show-more")
      | Voir tous les projets

                
                
            
          
      
