//projects
section.projects
  .container
    h1.projects__title
      |Exemples de projets
    .projects__item
      .row
        .col-md-5
          .projects__img
            img(src="img/piter.jpg" alt="Piter excursions")
        
        .col-md-7
          h2.projects__name
            | Piter excursion
          p.projects__date
            | Avril 2017
          p.project__descr
            | Création de pages d'un site HTML /CSS/JS à partir de maquettes graphiques faites dans Adobe Illustrator (7 pages). Conception d'un design responsive s'adaptant à tous les types d'appareils. Développement cross-browser de pages en respectant les standards du Web (W3C). Pixelperfect. Integration API Yandex.Map
          h3
            |Techologies utilisées
          ul.project__list
            li Pug
            li Less
            li Gulp
            li Full Responsive Design (CSS3 Media Queries, Flexbox)
            li API Yandex.Map
            li GIT
            li BEM (Block Element Modificator)
            li JS/jQuery (jQuery-ui)
            li SVG
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/Piter-excursions/" target="_blank")
              |Voir les pages
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/Piter-excursions" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")
    .projects__item
      .row

        .col-md-7
          h2.projects__name
            | Site Partajon 
          p.projects__date
            | Mars 2017
          p.project__descr
            | Cycle complet de création et d'administration d'un site de type blog. Domaine et hosting, installation et paramétrage de Wordpress, sélection d'un thème,  personnalisation du thème conformément aux exigences du client (child Themes, html/css/php), travail avec les champs personnalisés et les fonctions, ajout des fenêtres modales, création des pages statiques (12) et élaboration des modèles d'articles, installation et paramétrage des plugins, optimisation du site et sécurité (Yoast Seo, W3 Total Cash, Contact Form 7, All In One WP Security, SendinBlue Subscribe etc.). SEO, travail avec google analytics et google webmaster. Formation du client à l'utilisation et à l'administration du site. Gestion du projet à l'aide de l'approche agile (outil trello). 
          h3
            |Technologies utilisées
          ul.project__list
            li Wordpress
            li PHP
            li HTML5
            li CSS3
            li JS/jQuery
          div(class="projects__btns")
            a.projects__btn(href="http://partajondelfdalf.com" target="_blank")
              |Voir le site
              i(class="glyphicon glyphicon-menu-right")
        .col-md-5
          .projects__img
            img(src="img/partajon.jpg" alt="Partajon Delf Dalf")
    .projects__item
      .row
        .col-md-5
          .projects__img
            img(src="img/carmart.jpg" alt="Carmarket checkout")
        .col-md-7
          h2.projects__name
            | Carmarket checkout 
          p.projects__date
            | Mars 2017
          p.project__descr
            | Полный цикл создания и администрирования сайта. Домен/хостинг, установка и настройка Wordpress, выбор темы, кастомизация темы в соответствии с пожеланиями заказчика (child Themes, html/css/php), работа с champs personalisées и с функциями, добавление модальных окон, создание статических страниц (12) и подготовка шаблонов статьей, установка и настройка плагинов, оптимизация сайта и безопасность (Yoast Seo, W3 Total Cash, Contact Form 7, All In One WP Security, SendinBlue Subscribe etc.). SEO, работа с google analytics et google webmaster. Обучение заказчика дальнейшему самостоятельному использованию
          h3
            |Techologies utilisées
          ul.project__list
            li HTML5
            li LESS
            li HTML5
            li JS/jQuery
            li 
          div(class="projects__btns")
            a.projects__btn(href="https://jakovich.github.io/Carmart-checkout/" target="_blank")
              |Voir les pages
              i(class="glyphicon glyphicon-menu-right")
            a.projects__btn(href="https://github.com/Jakovich/Carmart-checkout" target="_blank")
              |Voir le code source
              i(class="glyphicon glyphicon-menu-right")

                
                
            
          
      
