.projects__item
  .row
  if left == 0
    .col-md-5
      .projects__img
        img(src="img/piter.jpg" alt="Piter excursions")
    
    .col-md-7
      h2.projects__title
        | Piter excursion
      p.projects__date
        | Avril 2017
      p.project__descr
        | Intégration CSS / HTML à partir de web design static existant en Adobe Illustrator (7 pages).
        | Создание и реализация адаптивного дизайна для всех устройств.
        | Developing cross-browser pages en respectant des standards du Web (W3C). Pixelperfect. Integration API Yandex.Map
        |
      h3
        |Techologies utilisées
      ul.project__list
        li Pug
        li Less
        li Gulp
        li Full Responsive Design (CSS3 Media Queries, Flexbox)
        li API Yandex.Map
        li GIT
        li BEM (Block Element Modificator)
        li JS/jQuery (jQuery-ui)
        li SVG
      div(class="projects__btns")
        a.projects__btn(href="https://jakovich.github.io/Piter-excursions/" target="_blank")
          |Voir les pages
          i(class="glyphicon glyphicon-menu-right")
        a.projects__btn(href="https://github.com/Jakovich/Piter-excursions" target="_blank")
          |Voir le code source
          i(class="glyphicon glyphicon-menu-right")
