doctype html
html
  - var pageTitle = "Insert Page Name"
  include includes/head.pug
  
  
  body
    include includes/main-header.pug  
    include includes/intro.pug  
    //Main content
    include includes/projects.pug
    .container
      include includes/carousel.pug
    
    include includes/main-footer.pug
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.min.js")
    
    
  

  
