doctype html
html
  - var pageTitle = "Insert Page Name"
  include includes/head.pug
  
  
  body
    include includes/main-header.pug  
    //Main content
  
    include includes/main-footer.pug
    script(src="vendor/bootstrap/js/bootstrap.min.js")
    script(src="vendor/jquery/jquery.min.js")
    
  

  
