doctype html
html
  - var pageTitle = "Portfolio Nadège Pillard"
  include includes/head.pug
  
  
  body
    include includes/main-header.pug  
    include includes/intro.pug  
    //Main content
    include includes/projects.pug
    include includes/feedback.pug
    .container
      include includes/contacts.pug
    include includes/main-footer.pug
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.min.js")
    
    
  

  
