// В этом файле должны быть стили только для БЭМ-блока intro, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.intro {
  background-image: url('../img/bg_2.jpg');
  background-position: center;
  background-size: cover;
  padding: 300px 0;
}

.intro__title {
  font-size: 50px;
  span {
    font-size: 40px;
    display: block;
    margin-top: 10px;
  }
}
