.main-header {
  position:fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 20;
  padding: 5px 0;
}

.main-header--dark {
  background-color: @gray;
  .navbar-default .navbar-nav>li>a {
    color: #ffffff;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: none;
}

.navbar-default .navbar-nav>li>a {
  color: #000000;
  font-size: 18px;
  &:hover {
    color: @orange;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
@media (max-width:1200px) {
  .main-header{
    background-color: gray;
  }
  .main-header--dark {
    background-color: @gray;
  }
}
